<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <h1> Pagina home  333</h1>
  <% let texto = 'trabalhando com ejs' %>
  <p><%= texto %></p>
  
  <ul>
    <% for(let i in clients) { %>
      <li><%= clients[i].nome %> - <%= clients[i].email %></li>
    <% } %>
  </ul>
  <br>

  <form action="/" method="post">
    <input type="text" name="nome" placeholder="Nome">
    <input type="email" name="email" placeholder="E-mail">
    <button type="submit">adicionar</button>
  </form>
  </body>

</html>